<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="privacy-container">
  
  <header class="privacy-header">
    <h1>Conditions Générales</h1>
  </header>


  <section class="privacy-content">
    <h2>Politique de protection des données (RGPD) :</h2>
    
    <p class="intro-text">
      Conformément au Règlement Général sur la Protection des Données (RGPD), ce site a comme priorité la
      confidentialité, la sécurité et la transparence dans le traitement des données personnelles des utilisateurs.
    </p>

    <div class="section">
      <h3>1. Lors de la commande, les informations personnelles demandées sont :</h3>
      <ul>
        <li>Nom</li>
        <li>Prénom</li>
        <li>Adresse e-mail</li>
        <li>Mot de Passe</li>
        <li>Si l'utilisateur est un étudiant on non.</li>
      </ul>
    </div>

    <div class="section">
      <h3>2. Les données sont collectées uniquement dans les buts suivants :</h3>
      <ul>
        <li>Permettre la prise et le suivi des commandes</li>
        <li>Faciliter le paiement initial ou la commande est prise</li>
        <li>Assurer la facturation et la traçabilité comptable.</li>
      </ul>
    </div>

    <div class="section">
      <h3>3. Conservation et sécurité des données :</h3>
      <p>
        Les données personnelles sont conservées le temps nécessaire à la gestion de la commande, puis supprimées selon
        les délais légaux en vigueur. Les mots de passe du compte utilisateur sont stockés sont chiffrés.
      </p>
      <p>
        L'accès aux données est strictement limité au personnel autorisé (les gérants et employés du restaurant).
      </p>
    </div>

    <div class="section">
      <h3>4. Droits des utilisateurs</h3>
      <p>Conformément au RGPD, les utilisateurs disposent des droits suivants :</p>
      <ul>
        <li>Droit d'accès : obtenir une copie des données le concernant ;</li>
        <li>Droit de rectification : corriger toute information erronée ;</li>
        <li>Droit à l'effacement (« droit à l'oubli ») : demander la suppression des données ;</li>
        <li>Droit à la portabilité : récupérer les données sous un format utilisable ;</li>
        <li>Toute demande peut être adressée à : contact@sushiparadise.fr</li>
      </ul>
    </div>

    <div class="section">
      <h3>5. Mise en situation concrète</h3>
      <p>Lorsqu'un client passe commande via notre site web :</p>
      <ul>
        <li>Il saisit nom et son adresse e-mail pour recevoir la confirmation.</li>
      </ul>
      <p>
        Ces informations sont enregistrées temporairement dans la base de données afin d'assurer la préparation et
        la remise du plat.
      </p>
    </div>

    <div class="section">
      <h3>6. Hébergement et sécurité</h3>
      <p>
        Les données sont hébergées sur un serveur MySQL, sécurisé, conforme aux exigences européennes en matière de
        protection des données.
      </p>
      <p>
        Aucune information n'est partagée avec des tiers (pas de publicité, pas de mailing ni aucun accès non autorisé).
      </p>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Réseaux:</h3>
        <div class="social-links">
          <a href="https://instagram.com" target="_blank" class="social-link">
            <span class="icon"><i class="fa-brands fa-instagram"></i></span> Instagram
          </a>
          <a href="https://facebook.com" target="_blank" class="social-link">
            <span class="icon"><i class="fa-brands fa-square-facebook"></i></span> Facebook
          </a>
        </div>
      </div>
      
      <div class="footer-section">
        <h3>Contacts:</h3>
        <div class="contact-info">
          <p class="contact-item">
            <span class="icon"><i class="fa-solid fa-phone"></i></span> +33 66 67 68 69 70
          </p>
          <p class="contact-item">
            <span class="icon"><i class="fa-solid fa-envelope"></i></span> sushiparadise@gmail.com
          </p>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <a routerLink="/privacy-policy" class="privacy-link">Politique des protections des données</a>
      <p>© Sushi Paradise Copyright All Right</p>
    </div>
  </footer>
</div>
